{% if site.blogfeed %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Goals for this year</h1>
		</div>
		<div class="content-rounded-panel">
			<a target="_blank" href="https://www.goodreads.com/user_challenges/27434706">2021 reading challenge</a>
			<br />
			<br />
			<a class="no_decoration" target="_blank">Learn for 60 min per week</a>
			<br />
			<br />
			<a target="_blank" href="https://www.strava.com/athletes/13982993">Run/Bike 1000 miles</a>
			<br />
			<br />
		</div>
	</div>
{% endif %}

