{% if site.blogfeed %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Personal Activities</h1>
		</div>
		<div class="content-rounded-panel" style="padding-left:0px;padding-right:0px">
			<iframe height='454' width='250' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/13982993/latest-rides/9ca2bdff0bcc8aa1c0e17c584bfa5ae1df100b83'></iframe>
			<br />
			<br />
			<a target="_blank" href="https://www.goodreads.com/user_challenges/27434706">2021 reading challenge</a>
			<br />
			<br />
			<!-- <a class="no_decoration" target="_blank">Run the NYC marathon</a>
			<br />
			<br /> -->
		</div>
	</div>
{% endif %}

